<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AZURE_TRANSLATOR_API_KEY</key>
	<string>$(AZURE_TRANSLATOR_API_KEY)</string>
	<key>AZURE_TRANSLATOR_REGION</key>
	<string>$(AZURE_TRANSLATOR_REGION)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SERVER_ADDRESS</key>
	<string>$(SERVER_ADDRESS)</string>
	<key>SERVER_PHRASES_ADDRESS</key>
	<string>$(SERVER_PHRASES_ADDRESS)</string>
	<key>UILaunchStoryboardName</key>
	<string>Launcher</string>
</dict>
</plist>
