//
//  Secrets_Template.xcconfig
//  Phraser
//
//  Created by Jonas Kaad on 12/11/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Copy this file to Secrets.xcconfig and replace the placeholders with your own values
AZURE_TRANSLATOR_API_KEY = <your_api_key> // Replace with you api key
AZURE_TRANSLATOR_REGION = <your_region> // Replace with your region
